.container

.form
  display: flex
  flex-direction: column
  max-width: 600px
  width: 100%
  margin: 0 auto
  padding: 10px 20px 30px
  position: relative

  label
    display: flex
    margin: 15px 0
    position: relative
    border-radius: 5px

.account
  margin:20px auto 10px
  font-size: 30px
  color: white

// label
//   display: flex
//   justify-content: space-between
//   align-items: baseline
//   margin: 15px
//   position: relative
//   border: none
//   border-radius: 5px
//   width: 100%
//   padding: 23px

.error
  position: absolute
  top: 100%
  // right: 0
  width: 100%
  color: white
  border: 1px solid red
  border-radius: 5px
  text-align: center

.input
  padding: 23px
  width: 100%
  font-size: 16px
  border: 2px solid white
  border-radius: 5px

.valid
  border: none
  border-radius: 5px

.invalid
  border: 2px solid red
  border-radius: 5px
  

button
  background-color: #28d2d0
  color: white
  height: 60px
  border: 0px
  border-radius: 5px
  font-size: 16px
  font-weight: 500